{{ define "main" }}
{{ partial "page-header" . }}

<!-- latest -->

{{ partial "sections/latest-posts.html" (dict
"home" false
"num_posts" 3
"section" "blog"
"title" "أحدث المقالات") . }}

<!-- /latest -->

<section id="all-posts" class="section" dir="rtl">
  <div class="container">
    <h2 class="h3 text-center mb-8">جميع المقالات</h2>
    <div class="row gx-5">
      <!-- blog posts -->
      <div class="lg:col-8">
        <div class="row">
              {{ $allPosts := where site.RegularPages "Section" "blog" }}
              {{ $latestPosts := first 3 (where site.RegularPages "Section" "blog").ByDate.Reverse }}
              {{ $regularPosts := slice }}
              {{ range $allPosts }}
              {{ $isLatest := false }}
              {{ range $latestPosts }}
              {{ if eq .Permalink .Permalink }}
              {{ $isLatest = true }}
              {{ end }}
              {{ end }}
              {{ if not $isLatest }}
              {{ $regularPosts = $regularPosts | append . }}
              {{ end }}
              {{ end }}
          {{ $paginator:= .Paginate .RegularPages }}
          {{ range $paginator.Pages }}
          <div class="md:col-6 mb-14">
            {{ partial "components/blog-card" . }}
          </div>
          {{ end }}
        </div>
        {{ partial "components/pagination.html" . }}
      </div>
      <!-- sidebar -->
      <div class="lg:col-4">
        <!-- widget -->
        {{ $widget:= site.Params.widgets.sidebar }}
        {{ partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . ) }}
      </div>
    </div>
  </div>
</section>

{{ end }}